p {
	font-family: 'Open Sans', sans-serif;
		font-weight: 400;
font-size:1.05rem;
		}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: #0500CC !important;
font-size: 2rem;

}

body {
	font-family: 'Open Sans', sans-serif;
}
a, h4 {
 color: #0500CC !important;
font-size: 1.2rem;
}


#intro {
	margin-top: 10%;
	margin-bottom: 10%;
	height: 80%;
	text-align: left;

}

/*
#page-content {
  flex: 1 0 auto;
}
*/
